<body>
    

        <div class="jumbotron jumbotron-fluid bg-white">
            <div class="container">
                <div class="row">
                    <div class="col-8">
                        <h1>
                           <span> This First Heading</span>
                           <span class="text-secondary">Will Catch Your Eye</span>
                        </h1> 
                        <p class="lead">Lorem fistrum a peich nisi benemeritaar benemeritaar esse ahorarr pupita. Mamaar ese pedazo de papaar papaar ad por la gloria de mi madre elit duis aute diodenoo. Sed llevame al sircoo hasta luego Lucas nisi caballo blanco caballo negroorl.</p>
                    </div>
					<div class="col-4">
						<img src="assets/img/1.jpg" class="rounded-circle img-thumbnail border-0" alt="mr.white">
					</div>
                    </div>
                </div>
        
            </div>
    
    
</body>
</html>