<!-- your html code here -->
<p>Hello, I'm the services.html</p>
<p>Hello, I'm the services section and I was loaded using ajax from templates/services.html</p>
<div class="container">
	<div class="row">
		<div class="col-4">
			<img src="assets/img/2.jpg" alt="logo escritorio" class="rounded-circle">
    </div>
			<div class="col-8">
				<div class="jumbotron jumbotron-fluid">
					<div class="container">
						<h1 class="display-4">Fluid jumbotron</h1>
						<h1 class="display-4 text-muted">Fluid jumbotron</h1>
						<p class="lead">Lorem fistrum de la pradera a gramenawer quietooor se calle ustée diodeno
							llevame al sircoo
							al ataquerl torpedo torpedo. Papaar papaar al ataquerl llevame al sircoo mamaar amatomaa va
							usté muy
							cargadoo a wan al ataquerl ese hombree. Quietooor a gramenawer amatomaa te va a hasé pupitaa
							por la
							gloria de mi madre. Va usté muy cargadoo tiene musho peligro fistro diodenoo ahorarr llevame
							al sircoo.
							Torpedo diodenoo diodeno torpedo papaar papaar va usté muy cargadoo pecador. Por la gloria
							de mi madre
							va usté muy cargadoo la caidita ese que llega no te digo trigo por no llamarte Rodrigor a
							wan a
							gramenawer ese que llega</p>
					</div>
				</div>
			</div>

		</div>
	</div>
