<!-- your html code here -->

<div class="container" id="services">
	<div class="row">
		<div class="col-4">
			<img src="assets/img/2.jpg" alt="imagen teclado" class="rounded-circle">
        </div>
			<div class="col-8">
				<div class="row no-gutters">
					<div class="col-6 text-right le">
						<h2>The Second Heading&nbsp</h2>
					</div>
					<div class="col-6 text-muted text-left">
						<h2>Is Pretty Cool Too.</h2>
					</div>
				</div>
				<p class="lead">Lorem fistrum mamaar hasta luego Lucas pupita. Te voy a borrar el cerito mamaar amatomaa
					no te digo trigo por no llamarte Rodrigor diodeno de la pradera apetecan apetecan va usté muy
					cargadoo. Condemor ese pedazo de llevame al sircoo va usté muy cargadoo se calle ustée ese hombree.
					No puedor diodenoo papaar papaar te va a hasé pupitaa sexuarl a wan condemor. Torpedo ahorarr mamaar
					ese que llega al ataquerl condemor mamaar hasta luego Lucas ese que llega al ataquerl. Torpedo
					caballo blanco caballo negroorl tiene musho peligro diodenoo diodenoo pecador pecador ahorarr está
					la cosa muy malar papaar papaar amatomaa. Apetecan hasta luego Lucas a gramenawer está la cosa muy
					malar hasta luego Lucas fistro ahorarr benemeritaar.</p>
			</div>

		</div>
	</div>
</div>


