    
<div class="card bg-dark text-dark m-5">
  <img src="https://f9a8a680-5872-42dc-b70c-db254dfc9db3.ws-eu01.gitpod.io/mini-browser/workspace/exercise-collaborative-html-website/website1/assets/img/bg.jpg" class="card-img" alt="...">
  <div class="card-img-overlay">
    <div class="title bg-light w-auto font-weight-bold text-center">
        <h1>ONE PAGE WONDER</h1>
    </div>
    <div class="second title bg-light w-auto text-center" >
        <h2>Will Knock Your Shocks Off</h2>
    </div>
  </div>
</div>