
        <div class="card border-light w-100 mt-5">
            <img src="assets/img/bg.jpg" class="card-img" alt="...">
            <div class="card-img-overlay">
                <div class="title bg-light w-auto font-weight-bold text-center p-1 mb-2 mt-5">
                    <h1 class="display-3">ONE PAGE WONDER</h1>
                </div>
                <div class="second title bg-light w-auto text-center p-0.5" >
                    <h2 class="display-4">Will Knock Your Shocks Off</h2>
                </div>
            </div>
        </div>
    